@import '~bootstrap/scss/bootstrap';


.jumbotron {
    background-image: url('../img/jumbotron.jpg');
    min-height: 50vh;

}

.comics-container {

    & .row {
        width: 70%;
        margin: auto;
    }


}

.bottom-nav {


    & .row {
        width: 70%;
        margin: auto;
    }

    & ul {
        display: flex;
        padding: 3rem;
        justify-content: center;
        gap: 2.5rem;

        & img {
            height: 75px;
        }
    }

}


footer {

    & .top {
        background-image: url(../img/footer-bg.jpg);
        background-repeat: no-repeat;
        background-size: cover;
        min-height: 500px;

    }

}